[user]
	name = sneaky-potato
	email = ashwanikamal.im421@gmail.com
	signingkey = E80AAC83B6DE2228
[alias]
	stat = "status -s -b"
	lol = "log --graph --decorate --oneline"
[color]
	ui = auto
[core]
	editor = code --wait
[commit]
	gpgsign = true
[init]
	defaultBranch = master
[color "branch"]
	upstream = cyan
